@import "Main";

.Any2Img {

  //TODO NEVYSHA - make header sticky
  .Header {
    margin-bottom: 25px;
  }

  .GenerateBox {
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
      height: 30px;
      margin: 5px 0;
    }

    .interrupt-box {
      display: flex;
      flex-direction: row;
    }

    div {
      flex: 1;
    }

    div[cn-css="generate"] {
      button {
        //background-color: var(--ae-primary-color);
        //color: var(--nevysha-color-from-luminance);
      }
    }
  }

  div[cn-css="txt2img-toprow"] {

    flex: 1;

    .cn-gradio-pristine {

      .gradio-row {
        margin-bottom: 0;
      }

      #txt2img_prompt_container {
        .form {
          .prompt {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex: 1;

            label {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex: 1;
            }
          }

          .token-counter {
            position: absolute;
            top: 0;
            right: 0;
            margin: 4px;
            font-size: $fontSmall;
            opacity: 0.8;
            background-color: $surface0;
          }
        }
      }
    }
  }

  div[cn-css="txt2img-toolbox"] {

    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 40px;

    #txt2img_tools {

      display: flex;
      flex: 1;

      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between
      }
    }
  }

  div[cn-css="txt2img-settings"] {
    display: flex;
    flex-direction: column;

    #txt2img_settings {

      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 10px !important;
      border: 3px solid $crust;

      div {

      }
    }
  }

  .Settings {
    flex: 0.3;
  }

  div[cn-css="txt2img-results"] {
    flex: 1;
  }
}
